.App {
  display:flex;
  background-color: darksalmon;
  flex-direction: column;
height: 500px;
width:500px;
margin-left: 400px;
margin-right: 500px;
}
.full-name {
  color:darkred;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.profile{
  height: 350px;
  width:350px;
  margin-left: 75px;
}
.Adress{
  text-align: center;
}

